# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json

projeto_pessoal/pkmnHub-vTestes/public/js/dadosCartas.js

.github
.vscode/
.testes/
postcss.confiDg.js
ngrok.exe
pids.txt