# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules/
package-lock.json

**/public/js/dadosCartas.js
**/public/js/dados.js

start - Copia.bat

.github/
.vscode/
.testes/
postcss.config.js
ngrok.exe
pids.txt