# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules/
package-lock.json

pkmnHub-vTestes/public/js/dados.js
pkmnHub-vTestes/public/js/dadosCartas.js
start - Copia.bat

.github/
.vscode/
.testes/
postcss.config.js
ngrok.exe
pids.txt