@font-face {
    font-family: 'Ballet';
    src: url(./assets/fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url(./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url(./assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    text-decoration: none;
}

button {
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 15px;
    height: 50px;
    padding: 0 25px;
    box-shadow: 0px 4px 10px #00000040;

}

.ballet {
    font-family: 'Ballet';
}



/* HEADER */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #121417b0;
    background-image: url(./assets/imgs/colmeia.png);
    background-size: contain;
    background-repeat: no-repeat;

    backdrop-filter: blur(10px);

    border-bottom: 1px solid #ffffff0e;
    box-sizing: border-box;

}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header nav a {
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
    font-size: 100%;
    transition: color 0.3s ease;
}

.header nav a.active {
    color: #F9CF30;
    border-bottom: 2px solid #F9CF30;
    padding-bottom: 3px;
}

.logoHeader {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader img {
    height: 80%;
    width: 100%;
}

.btnPrincipal_header {
    background: #F9CF30;
    color: #16191d;
    height: 40px;
}

.btnSecundario_header {
    background: #16191d;
    color: #F9CF30;
    height: 40px;
}



/* HOME */



.principal {
    display: flex;
    align-items: center;
    padding: 230px 3%;
    width: 100%;
    gap: 0px;
    background-image: linear-gradient(#12141774, #2f30347e),
        url(./assets/imgs/background_home.png);
    background-size: cover;

}

.principalConteudo {
    flex: 1;
}

.principalConteudo h1 {
    font-family: 'Manrope';
    font-size: 75px;
    font-weight: 900;
    margin: 20px 0 10px 0;
    line-height: 1.1;
    max-width: 900px;
    color: #ffffff;
}

.principalConteudo p {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #94a3b8;
    margin-bottom: 30px;
    max-width: 1000px;
    text-shadow: 0px 4px 10px #00000040;
    ;
}

.destaqueTexto {
    font-family: 'Ballet', sans-serif;
    color: #F9CF30;
    font-weight: 900;

}

.detalhe {
    background: #69000280;
    color: #EE3D2D;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #00000040;
}

.principalBotoes {
    display: flex;
    gap: 15px;
}

.btnPrincipal_home {
    background: #EE3D2D;
    color: #16191d;

}

.btnSecundario_home {
    background: #16191d;
    color: #EE3D2D;
    ;
}




/* SESSÃO 2 */




.cardContainer {
    background-color: #1A1C1F;
    padding: 80px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cardContainer h2 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}

.cardContainer p {
    color: #94a3b8;
    margin-bottom: 10px;
}

.detalheLinha {
    width: 80px;
    height: 4px;
    background-color: #EE3D2D;
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #16191d;
    border-radius: 24px;
    overflow: hidden;
    flex: 1 1 300px;
    box-shadow: 0px 4px 10px #00000040;
}

.cardsQuebra {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    justify-content: center;
}

.cardImagem {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
}

.cardConteudo {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cardConteudo p {
    color: #94a3b8;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
    flex-grow: 1;
}

.cardConteudo h3 {
    color: #ffffff;
    font-size: 20px;
    margin: 0 0 12px 0;
}

.cardConteudo a {
    color: #F9CF30;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.categoria {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Ballet';
}



/* SESÃO 3 - TENDÊNCIAS (CARTAS EM ALTA) */



.tendencias {
    padding: 80px 5%;
    width: 100%;
    box-sizing: border-box;

    background-color: #121417;
    color: white;
}

.cartasTendencias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.cartasTendencias h2 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: -25px;
}

.cartasTendencias a {
    color: #f1c40f;
    font-size: 14px;
    font-weight: bold;
}

.subtitulo {
    color: #94a3b8;
    margin-bottom: 10px;
}

.cartaemAlta_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}

.cartaemAlta {
    background-color: #1A1C1F;
    border-radius: 20px;
    padding: 15px;
    width: 210px;
    box-shadow: 0px 4px 10px #00000040;
}

.cartaemALtaImagem {
    position: relative;
    background-color: #050505;
    border-radius: 15px;
    height: 250px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartaemALtaImagem img {
    width: 100%;
    height: 100%;
}

.raridade {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f1c40f;
    border: 1px solid #f1c40f;
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 6px;
    z-index: 2;
    font-weight: bold;
}

.cartaemAltaInfos h3 {
    font-size: 16px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
}

.colecao {
    color: #666;
    font-size: 12px;
    margin: 0;
}

.precoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.preco {
    font-weight: bold;
    color: #f1c40f;
    font-size: 17px;
}

.stonks {
    font-size: 12px;
    font-weight: bold;
    color: #2ecc71;
}

.stinks {
    font-size: 12px;
    font-weight: bold;
    color: #e74c3c;
}