<div class="logo logo--dash">
    <img src="../assets/imgs/main/logo2.png">
    <a href="../index.html" class="sidebar-logo-text">pkmnHub</a>
</div>

<nav class="nav-menu">
    <ul>
        <li class="nav-item">
            <a href="perfil.html" class="nav-link" id="link-nav-perfil">
                <i class="fa-solid fa-user"></i><span class="nav-text">Perfil</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="dashboard_colecao.html" class="nav-link">
                <i class="fa-solid fa-layer-group"></i><span class="nav-text">Coleção</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="dashboard_sets.html" class="nav-link">
                <i class="fa-solid fa-border-all"></i><span class="nav-text">Sets</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="dashboard_binders.html" class="nav-link">
                <i class="fa-solid fa-book"></i><span class="nav-text">Binders</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="dashboard_business.html" class="nav-link">
                <i class="fa-solid fa-chart-line"></i><span class="nav-text">Business</span>
            </a>
        </li>
        <li class="nav-item nav-item-has-submenu" id="cadastroMenu">
            <a class="nav-link">
                <i class="fa-solid fa-plus"></i><span class="nav-text">Cadastroㅤ</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="dashboard_compra.html" class="submenu-link">
                        <i class="fa-solid fa-cart-shopping"></i><span style="margin-left:10px;">Compra</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard_venda.html" class="submenu-link">
                        <i class="fa-solid fa-tag"></i><span style="margin-left:10px;">Venda</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<button class="btn-colapsar" id="btn-colapsar" onclick="toggleSidebarDesktop()">
    <i class="fa-solid fa-chevron-left" id="icon-colapsar"></i>
</button>